.container {
  height: 300vh;
  position: relative;
  margin-top: 60px;
}

.stickyArea {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.titleSection {
  padding-top: 5rem; 
  z-index: 10;
  width: 100%;
}

.sectionTitle {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
  font-weight: 600;
  text-align: center;
  color: black;
  margin: 0;
}

.cardContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 400px;
  height: 561px;
  pointer-events: none;
  margin-top: -5rem; /* Adjust to pull cards up */
} 