.marquee {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
  padding: 180px 0;
  display: flex;
  align-items: center;
}

.track {
  display: flex;
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 80s linear infinite;
  align-items: center;
}

.techItem {
  color: #000000;
  opacity: 0.06;
}

.techItem:hover {
  color: black;
  opacity: 1;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
} 